<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://ralacher-pathbase.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/3a2450c5-be2a-4171-bb9c-9e6c275104a2/resourceGroups/Container-RG/providers/Microsoft.ContainerRegistry/registries/ralacheracr</ContainerResourceId>
    <ContainerResourceName>ralacheracr</ContainerResourceName>
    <Subscription>robertlacher</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>ralacheracr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3a2450c5-be2a-4171-bb9c-9e6c275104a2/resourcegroups/Web-RG/providers/Microsoft.Web/sites/ralacher-pathbase</ResourceId>
    <ResourceGroup>Web-RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ralacher-pathbase.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a53f427c-ba28-4e31-8a15-e33e604af6a6</ProjectGuid>
  </PropertyGroup>
</Project>